* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 251, 251);
}
header {
  color: navy;
  font-size: 18px;
}
.textrecuo {
  text-indent: 40px;
}
#cabecalho {
  border: 2px solid black;
  position: fixed;
  width:100%;
  top: 0;
  text-indent: 40px;
}
#minha_foto {
  margin-top: 55px;
  width: 200px;
}
#licoes_aprendidas {
  margin-left: 25px;
}
#licoes_a_aprender {
}
#rodape {
  font-size: 30px;
}
footer, a {
  text-decoration: none;
}
table{
  text-align: center;
  margin-top: 20px;
}
.tabela{
  display: flex;
  justify-content: center;
}
lateral{
  display: flex;
  ;
}