* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 251, 251);
  font-family:'Times New Roman', Times, serif;
}
.textrecuo {
  text-indent: 40px;
}
#cabecalho {
  border: 2px solid black;
  position: fixed;
  top: 0;
}
#titulo {
  border: 2px solid black;
  display: flex;
  align-items: center;
}
#minha_foto {
  margin-top: 50px;
  width: 200px;
}
#licoes_aprendidas {
  margin-left: 25px;
}
#licoes_a_aprender {
}
#rodape {
  font-size: 30px;
}
