* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Sono', sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Source Code Pro', monospace;
}

header {
  color: white;
  font-size: 16px;
  background-color: rgb(26, 199, 26);
  padding: 10px 10px;
  border-bottom: solid black .5px;
}

.textrecuo {
  text-indent: 40px;
}

#cabecalho {
  position: fixed;
  width: 100%;
  text-indent: 40px;
  text-align: center;
}

#whatsapp {
  border: solid black .5px;
  padin: 0;
}

#minha_foto {
  margin-top: 80px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  line-height: 18px;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(26, 199, 26);
  border-top: solid black .5px;
}

.lado-direito {
  width: 40%;
  margin-left: 5%;
}
.lado-esquerdo {
  width: 40%;
}
.requisito15 {
  display: flex;
  margin-bottom: 30px;
}

.tabela {
  padding-bottom: 60px;
  text-align: center;
}

p {
  text-align: center;
  text-align: justify;
}
h2 {
  text-align: center;
  padding-top: 20px;
  padding: 25px 25px;
}